# Python
# -------------------------------------------------------------------------------------------------
.venv

# Environment
# -------------------------------------------------------------------------------------------------
.env.local