# Python
# -------------------------------------------------------------------------------------------------
.venv

# Environment
# -------------------------------------------------------------------------------------------------
.env.local

# Secrets
# -------------------------------------------------------------------------------------------------
google-credential.json